#include <windows.h>

IDI_ICON1 ICON DISCARDABLE "resources/qfilter.ico"

#define STRINGIFY(x) #x
#define TOSTRING(x) STRINGIFY(x)

VS_VERSION_INFO VERSIONINFO
FILEVERSION RC_VERSION
PRODUCTVERSION RC_VERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904B0"
        BEGIN
            VALUE "FileVersion",        TOSTRING(RC_VERSION_STR)
            VALUE "ProductName",        TOSTRING(RC_NAME)
            VALUE "ProductVersion",     TOSTRING(RC_VERSION_STR)
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0419, 1200
    END
END
